REACT_APP_FAIROSHOST=https://fairos.staging.fairdatasociety.org/v1/
REACT_APP_FAIROSHOST_LOGIN=https://fairos.staging.fairdatasociety.org/v2/
SKIP_PREFLIGHT_CHECK=true


REACT_APP_SUBDOMAIN_REGISTRAR_ADDRESS=0xF4C9Cd25031E3BB8c5618299bf35b349c1aAb6A9
REACT_APP_PUBLIC_RESOLVER_ADDRESS=0xbfeCC6c32B224F7D0026ac86506Fe40A9607BD14
REACT_APP_ENS_REGISTRY_ADDRESS=0x42B22483e3c8dF794f351939620572d1a3193c12
REACT_APP_RPC_URL=https://xdai.dev.fairdatasociety.org
REACT_APP_BEE_URL=https://bee-1.fairdatasociety.org/



REACT_APP_BLOCKCHAIN_INFO=Infura goerli
REACT_APP_ENVIRONMENT=
REACT_APP_GLOBAL_BATCH_ID=

# Create account redirect
REACT_APP_CREATE_ACCOUNT_REDIRECT=https://create.staging.fairdatasociety.org

# Etherna Extension
REACT_APP_ETHERNA_INDEX_API_PATH=""
REACT_APP_DAPP_SELECTOR=TESTNET
REACT_APP_USERNAME = ''
REACT_APP_PASSWORD = ''
